.wrapper{
  padding: 10px 0;
  border-bottom: 2px solid #EFEFEF;
  display: flex;
  align-items: center;
}

.imgContainer{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #EFEFEF;
  margin-right: 10px;
}
