@use 'src/styles/colors.module' as colors;

.wrapper {
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  padding: 12px 0;
}


.imgContainer {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #EFEFEF;
}


.textContainer {
  padding: 0 20px 0 10px;
  flex-grow: 1;
  max-width: 193px;
  max-height: 47px;
  overflow: hidden;


  h3 {
    font-size: 13px;
    margin-bottom: 4px;
  }

  p {
    color: colors.$secondaryColOR;
    font-weight: 500;
    font-size: 12px;

    span {
      color: black;
      font-weight: bold;
    }
  }
}
