<img class="error-server-image" src="/images/500.svg"  alt="Not found"/>
<div class="return-back">
    <h1 class="info">500</h1>
    <h2 class="info">Мы уже чиним</h2>

    <div id="{{ goBackBtnId }}"></div>

</div>
