<img
  class="profile-avatar"
  src="/images/avatar_default.png"
  alt="аватар"
  height="130"
>
<img
  class="dialog_activator profile-avatar__change"
  src="/images/avatar_change.png"
  alt="аватар"
  hidden
  height="130"
>

<!-- Modal dialog -->
<div id="dialog" class="dialog">

  <!-- Dialog content -->
  <div class="dialog__content bordered">
    <span class="dialog__close-icon">&times;</span>
    <div class="card">
      <h3 class="primary">Загрузите файл</h3>
      <button class="btn btn_outline secondary">Выберите файл на компьютере</button>
      <button class="btn bg-primary white">Поменять</button>
    </div>
  </div>

</div>
