.nav-drawer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.nav-drawer__header-icon {
  margin-left: 6px;
  color: var(--info);
  cursor: pointer;
}

.nav-drawer__header-icon.active {
  color: var(--accent);
}

.nav-drawer__toggle-icon {
  margin-right: 6px;
}

.nav-drawer__hr {
  box-shadow: 0 0 5px 2px rgb(23 193 232 / 100%);
  margin-left: 0;
  margin-right: 0;
}
