.input {
  border: none;
  border-bottom: 0.125rem solid var(--info);
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
  color: white;
  background: transparent;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
}

input:focus {
  outline: none;
}

.input-item {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--dark);
  transition: top 0.2s;
}

.input-helper {
  font-size: x-small;
  color: var(--accent);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

/** Underlined **/

.input_underlined:hover {
  border-color: var(--accent);
}

/** DISABLED **/

.input_underlined:disabled {
  background: var(--primary);
  cursor: not-allowed;
}

.input_underlined:disabled + .input-label,
.input_underlined:disabled ~ .input-helper {
  color: var(--warning);
}

/** FOCUS **/

.input_underlined:focus + .input-label,
.input_underlined:valid + .input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
  color: var(--accent);
}

.input_underlined:not(.input_danger):focus + .input-label {
  color: var(--accent);
}

.input_underlined:not(.input_danger):focus {
  border-color: var(--accent);
}

.input-helper[dirty] {
  color: var(--danger);
}

.input-label[dirty] {
  color: var(--danger);
}
