@mixin contentCenterWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin contentCenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin errPageErCode {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
}

@mixin errPageErMessage {
  font-weight: 500;
  font-size: 20px;
}

@mixin errPageLinkBack {
padding-top: 6vh;
}
