.card {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  align-items: center;
  margin-top: 50px;
  padding: 1em;
}

.card__title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
