<div class="error-layout">
  <img class="error-not-found-image" src="/images/404.svg"  alt="Not found"/>
  <div class="return-back">
    <h3 class="info">Запрашиваемого контента не существует!</h3>

    {{{ goBack }}}

  </div>
</div>
