@use "src/styles/mixins.module" as mixins;
@use 'src/styles/colors.module' as colors;
@use "sass:color";

.wrapper {
  @include mixins.contentCenterWrapper;

  padding: 0 18px;
  background: #FBFBFB;
}

.container {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$mainColor;
  color: #fff;
  transition: color .3s ease;

  &:hover{
    background: color.adjust(colors.$mainColor, $lightness: -10%);
  }
}
