@use "src/styles/mixins.module" as mixin;
@use "src/styles/colors.module" as colors;


.wrapper {
  @include mixin.contentCenterWrapper
}

.plug{
 color: colors.$secondaryColOR;
  font-weight: 500;
  font-size: 12px;
}