.dialog {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0006;
}

.dialog__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
}

.dialog__close-icon {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.dialog__close-icon:hover,
.dialog__close-icon:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dialog_activator {
  cursor: pointer;
}
