<div class="messenger">
  {{#if selectedChat }}
    <div class="messenger__messages">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>
    <div class="messenger__footer">
      {{{input}}}
      {{{button}}}
    </div>
  {{else}}
    <h4 class="white">Выберите чат, чтобы отправить сообщение</h4>
  {{/if}}
</div>
