.wrapper {
  display: flex;
  margin: 10px;
}

.wrapperMy {
  justify-content: flex-end;
}

.container {
  max-width: 380px;
  background: #F8F8F8;
  padding: 11px;
  border-radius: 12px;
}

.containerMy {
  background: #E4EDFD;
}
