@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';


* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.developLink{
    padding: 4px;
    text-align: center;
}
