.wrapper{
 h1{
   font-size: 24px;
   text-align: center;
 }

  margin-bottom: 60px;
}

.imgContainer{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;


}
.btn{
  display: flex;
  justify-content: center;
  margin: 10px;

  & button{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }


}
